
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/*body style*/
body{
    margin:0 auto;
    max-width: 1340px;
    
} 
/* header style */
.header{  
    background: linear-gradient(rgb(16,16,16)0%,
    rgba(16,16,16,0)100%),url(/images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-radius: 16px;
}

.header-container{
    width: 600px;
}
.header-container-title{
    color: rgba(255, 255, 255, 1);
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    line-height:Auto;
    letter-spacing: 0%;
}
.header .header-container-title-two{
    color: rgba(255, 255, 255, 1);
    font-weight: black;
    font-size: 72px;
    line-height: 95px;
    letter-spacing: 0%;
    text-align: center;
}
/*main section categories*/
.categories{
    margin-top:120px;
    height: 900px;
    text-align: center;
}
.categories-title{
    color: rgba(255, 0, 0, 1);
    font-size: 88px;
    font-weight: bold;
    margin-top: 48px;
}
.categories-sub-title{
    color: rgba(255, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
    margin-top: 16px;
}
.categories-description{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 48px;
}
/*section-join*/
.party{ 
    background-image:linear-gradient(to right,rgb(16,16,16),
    rgba(16,16,16,0)),url(../images/Vectorrr.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
    margin:  0 auto;
    padding: 25px;
    border-radius: 16px;
    margin-top: 120px;
}
 .party-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 600px;
    margin: 0 auto;
    align-items: center;
    gap: 39px;
} 
 .party-title{
    color: rgba(255, 255, 255, 1);
    font-size: 64px;
    font-weight: black;
} 
.party-description{
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 400;
} 
 .sub a{
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
} 
/*place style*/
.place{
    background-color: rgba(255, 0, 0, 0.1);
    height: 482px;
    border-radius: 16px;
}
.place-container{
    opacity: 100%;
    height: 272px;
    margin-top: 120px;
    text-align: center;
    padding: 100px 185px 110px;
    letter-spacing: 0%;
} 
 .place-title{
    color: rgba(255, 0, 0, 1);
    font-size: 32px;
    font-weight: 600;
}
.place-title .text-style{
    color: rgba(7, 2, 17, 1);
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}
.btn{
    background-color: rgba(255, 0, 0, 1);
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(194, 3, 3);
    cursor: pointer;
    color: aqua;
}
/*offer style*/
.offer{
  margin-top: 120px;
}
.offer-container{
    height: 463px;
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    gap: 80px;
    align-items: center;
   
}
.offer-middle{
    border: 15px solid rgba(255, 0, 0, 1);
    border-radius: 50%;
    padding: 20px;
} */
.offer-title{
    color: rgba(255, 0, 0, 1);
    font-weight: 500;
    font-size:24px ;
} 
.offer-sub-title{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: black;
} 
.offer-discription{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 400;
} 
.happy-title{
    color: rgba(255, 0, 0, 1);
    font-size: 48px;
    font-weight: 700;
}
.offer-title{
    color: rgba(255, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
}
/*holidays style*/
.holidays{
    background-image: url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position:bottom; 
    margin-top: 120px;

}
.sale-container{
    margin: 0 auto;
    padding: 0 266px;
    height: 260px;
    text-align: center;
}
.sale-img{
    display: flex;
    justify-content: space-between;
}
 .sale-sub-title .day{
    color: rgba(255, 0, 0, 1);
    font-size: 72px;
    font-weight: black;

}
.sale-sub-title{
 color:  rgba(7, 2, 17, 1);  
 font-size: 72px;
 font-weight: black;
}
.sale-description{
    color: rgba(7, 2, 17, 0.6);
    font-size: 20px;
    font-weight: 500;
    padding: 0px 190px;
}
/*gift style*/
.gift{
    margin-top: 120px;
    height: 1133px;
}
.gift-container{
    margin: 0 auto;
    padding-right: 600px;
}
.gift-title{
    color: rgba(255, 0, 0, 1);
    font-size: 24px;
    font-weight: 500;
}
.gift-sub-title{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: black;
}
.gift-description{
    color:rgba(7, 2, 17, 0.51);
    font-size: 20px;
    font-weight: 400;
}

.gift-img{
    display: flex;
    flex-wrap: wrap;
} 