
.open-sans-normal{
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
    background: url(../images/Banner\ Image.png);;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    height: 600px;
    background-position: center;
    margin-top: 50px;
    display: flex;

}
.header-container{
    color: white;
    text-align: center;
    
}
.header .header-container-title{
    padding-top: 250px;
    font-weight: 300;
    font-size: 32px;

}
.header .header-container-title-two{
    font-weight: 900;
    font-size: 72px;
}
/*section one style*/
.section-container{
    text-align: center;
    margin-top: 120px;
}
.section-container .section-container-title{
    color: rgba(255, 0, 0, 1);
    font-size: 88px;
    font-weight: 700;
    font-style: inter;
    margin-bottom: 48px;
}
.section-container .section-container-sub-title{
    color:rgba(255, 0, 0, 1) ;
    
    font-size: 22px;
    font-weight: 500;
}
.section-container .section-description{
    color: rgba(7, 2, 17, 1);
    font-size: 48px;
    font-weight: bold;
}